[
  "index.md"
  [
    { "filename": "introduction/intro.md" }
    { "filename": "introduction/cryptocurrency.md" }
    { "filename": "introduction/bitcoin.md" }
    { "filename": "introduction/popularity.md" }
  ]
  [
    { "filename": "how/intro.md" }
    { "filename": "how/blockchain.md" }
    { filename: 'how/ownership.md' }
    { filename: 'how/transactions.md' }
  ]
  [
    { filename: 'mining/index.md' }
    { filename: 'mining/pow.md' }
    { filename: 'mining/mining.md' }
    { filename: 'mining/mining2.md' }
    { filename: 'mining/difficulty.md' }
  ]
  [
    { filename: 'conclusion/index.md' }
    { filename: 'conclusion/conclusion.md' }
    { filename: 'conclusion/conclusion2.md' }
    { filename: 'conclusion/volatility.md' }
  ]
]
