[
  "index.md"
  "overview.md"
  [
    "intro/index.md"
    "intro/ale.md"
  ]
  "question.md"
  [
    "bg/index.md"
    "bg/rl.md"
    "bg/qlearning.md"
    "bg/ann.md"
    "bg/ann2.md"
    "bg/conv.md"
    "bg/lstm.md"
  ]
  [
    "exp/index.md"
    "exp/overview.md"
    "exp/dqn_index.md"
    "exp/dqn_core.md"
    "exp/dqn_network.md"
    "exp/dqn_results.md"
    "exp/lf_index.md"
    "exp/lf_network.md"
    "exp/lf_results.md"
    "exp/conv3d_index.md"
    "exp/2d_vs_3d.md"
    "exp/conv3d_network.md"
    "exp/conv3d_results.md"
    "exp/lstm_index.md"
    "exp/lstm_network.md"
    "exp/lstm_results.md"
    "exp/comparison.md"
    "exp/flickering.md"
  ]
  [
    "con/index.md"
    "con/performance.md"
    "con/contrib.md"
    "con/future.md"
  ]
  "exit.md"
  "refs.md"
]
